@{
    Page.Title = "微博";
    Layout = "~/_MainLayout.cshtml";
}
@section JavaScript{
    <script type="text/javascript">
        function ToPage(pn) {
            $("#pn").val(pn);
            $("#pageForm").submit();
        }
    </script>
}
<div class="jumbotron">
    <h3><i class="fa fa-user-o"></i>欢迎光临微博</h3>
</div>
<form action="/Default" method="get" id="pageForm">
    <input type="hidden" name="PageInfo.PageNumber" id="pn" />
</form>
<table class="table table-hover">
    <tbody>
        @foreach (var message in Model.Messages)
        {
            <tr class="text-center">
                <td>
                    @message.Nickname
                    <span>在</span>
                    @string.Format("{0:yyyy-MM-dd HH:mm:dd}", message.Created)
                    <span>发表了:</span>
                    <a href="~/Message/Info?Info.Mid=@message.Mid">@message.Title</a>
                    @message.Content
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageInfo.PageCount > 1)
{
    <nav class="text-center">
        <ul class="pager">
            <li>
                <a href="javascript:void(0)" onclick="ToPage(1);">第一页</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageNumber-1);">上一页</a>
            </li>
            <li>
                <span>总记录：@Model.PageInfo.Count
                    /
                    分页数：@Model.PageInfo.PageCount
                    -当前页：@Model.PageInfo.PageNumber
                    跳到第：
                    <select onchange="ToPage(this.value);">
                        @for (int i = 1; i <= Model.PageInfo.PageCount; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    页
                   
                </span>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageNumber+1);">下一页</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageCount);">最后一页</a>
            </li>
        </ul>
    </nav>
}