@{
    Page.Title = "信息详情";
    Layout = "~/_MainLayout.cshtml";
}
<div class="row">
    <div class="col-md-3 col-sm-hidden"></div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Model.Info.Title
            </div>
            <div class="panel-body">
                <div class="bg-info">
                    <span>@Model.Info.Nickname</span>
                    <span>@string.Format("{0:yyyy-MM-dd}", Model.Info.Created)</span>
                    说：
                    <hr />
                    <h2>@Model.Info.Content</h2>
                </div>
                <div class="bg-danger">
                    @foreach (var r in Model.Returns)
                    {
                        <hr />
                        @r.Nickname
                        <span>在：</span>
                        @r.Created
                        <span>回复说：</span>
                        @r.Content
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-hidden"></div>
</div>

