@{
    Page.Title = "我的微博";
    Layout = "~/_MainLayout.cshtml";
}
@section JavaScript{
    <script type="text/javascript">
        function ToPage(pn) {
            $("#pn").val(pn);
            $("#pageForm").submit();
        }

        $(function () {
            $("#btnDel").click(function () {
                $("#delForm").submit();
            });
        });

        function ToDelete(mid, title) {
            $("#delId").val(mid);
            $("#spDel").html(title);
            $("#delDialog").modal({ "show": true });
        }

    </script>
}

<!-- 删除微博确认对话框 -->
<div id="delDialog" class="modal fade" data-backdrop="static"
    tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <div class="modal-title">删除微博</div>
            </div>
            <div class="modal-body">
                是否删除<span id="spDel"></span>?
            </div>
            <div class="modal-footer">
                <button id="btnDel"
                    class="btn btn-danger">
                    确定</button>
                <button class="btn btn-info"
                    data-dismiss="modal">
                    取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除微博的表单 -->
<form action="~/Message/Delete" method="get" id="delForm">
    <input type="hidden" name="Info.Mid" id="delId" />
</form>


<form action="/Message/List" method="get" id="pageForm">
    <input type="hidden" name="PageInfo.PageNumber" id="pn" />
</form>
<h2 class="text-center">我的微博</h2>
<form action="~/Message/Add" method="post">
    <div class="row">
        <div class="col-xs-hidden col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-addon">标题：</label>
                    <input type="text" name="Info.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="input-group-addon">
                            内容：
                        </label>
                        <textarea class="form-control" name="Info.Content"
                            rows="3"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="发表" class="btn btn-info" />
                    <input type="reset" value="重写" class="btn btn-info" />
                    <a href="~/Message/List" class="btn btn-info">刷新</a>
                </div>
            </div>
            <div class="col-xs-hidden col-sm-3"></div>
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>发表时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.MessageList)
        {
            <tr>
                <td>
                    @message.Title
                </td>
                <td>
                    @message.Content
                </td>
                <td>
                    @string.Format("{0:yyyy-MM-dd HH:mm:dd}", message.Created)
                </td>
                <td>
                    <a href="~/Message/Info?Info.Mid=@message.Mid" target="_blank">查看</a>
                    <a href="javascript:void(0)" onclick="ToDelete('@message.Mid','@message.Title')">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageInfo.PageCount > 1)
{
    <nav class="text-center">
        <ul class="pager">
            <li>
                <a href="javascript:void(0)" onclick="ToPage(1);">第一页</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageNumber-1);">上一页</a>
            </li>
            <li>
                <span>总记录：@Model.PageInfo.Count
                    /
                    分页数：@Model.PageInfo.PageCount
                    -当前页：@Model.PageInfo.PageNumber
                    跳到第：
                    <select onchange="ToPage(this.value);">
                        @for (int i = 1; i <= Model.PageInfo.PageCount; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    页
                   
                </span>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageNumber+1);">下一页</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="ToPage(@Model.PageInfo.PageCount);">最后一页</a>
            </li>
        </ul>
    </nav>
}
